

name : Same deployment to gcloud vm

on :
  push :
    branches :
      - main

jobs :
  deploy :
    runs-on : ubuntu-latest

    steps :
      - name : Checkout repository 
        uses : actions/checkout@v4

      - name : Authenticating to google cloud
        uses : google-github-actions/auth@v1
        with :
          credentials_json: "${{ secrets.GCP_SA_KEY }}"
      
      - name : Setting up gcloud
        uses : google-github-actions/setup-gcloud@v3
        with :
          project_id : "${{ secrets.GCP_PROJECT_ID }}"
      
      - name : Getting VM's external IP
        id : get-IP
        run : |
              IP=$(gcloud compute )